<nav class="navbar navbar-expand-sm">
  <span class="navbar-brand">Navbar</span>
  <button
    class="navbar-toggler d-lg-none"
    type="button"
    data-toggle="collapse"
    data-target="#collapsibleNavId"
    aria-controls="collapsibleNavId"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon">---</span>
  </button>
  <div class="collapse navbar-collapse ml-auto" id="collapsibleNavId">
    {{ if index .user "is_login"}} {{ $user := index .user "data"}}
    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
      <li class="nav-item mr-md-2 mr-lg-2">
        <span class="h5 align-middle">Welcome {{$user.Name}}</span>
      </li>
    </ul>
    {{ else }}
    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
      <li class="nav-item mr-md-2 mr-lg-2">
        <a class="nav-link" href="/login">Login</a>
      </li>
      <li class="nav-item mr-md-2 mr-lg-2">
        <a class="nav-link" href="/register">Register</a>
      </li>
    </ul>
    {{ end }}
  </div>
</nav>
