{{ define "content" }} {{ include "components/header" }}
<div class="container d-flex justify-content-center" style="height: 3000px">
  <div class="d-flex justify-content-start align-items-center">
    <div>
      <p id="_my-name" class="display-4">Hello, My name is David</p>
      <p class="lead wow animate__animated animate__bounceInUp">
        I'm a Backend Web Developer
      </p>
    </div>
  </div>
</div>

{{end}} {{define "js"}}
<script>
  /* $(document).ready(function () {
    // $("#_my-name").animate({  transform: "translateY(200px)" });
    // $("#_my-name").css("animation", "fade-in-top 1.5s");
    //$("#_my-name").animate({ color: "red" }, 2000);
    $("#_my-name").css("color", "red");
  });*/
</script>
{{end}}
