{{ define "content" }}

<div class="container h-100 d-flex justify-content-center align-items-center">
  <div class="card form-card spinner-border animate__animated animate__fadeIn">
    <div class="card-body">
      <span class="sr-only">Loading...</span>
      <h4 class="card-title">Register Page</h4>

      <form
        id="_register_form"
        novalidate
        oninput="password2.setCustomValidity(password2.value != password1.value ? 'Not match' : '')"
      >
        <div class="form-group">
          <label for="name1">Email :</label>
          <input
            type="text"
            name="name"
            id="name1"
            class="form-control input-underlined"
            placeholder="Name *"
            required
            autofocus
          />
          <div class="invalid-feedback">Not a valid Email</div>
        </div>
        <div class="form-group">
          <label for="email1">Email :</label>
          <input
            type="email"
            name="email"
            id="email1"
            class="form-control input-underlined"
            placeholder="Email *"
            required
            autofocus
          />
          <div class="invalid-feedback">Not a valid Email</div>
        </div>
        <div class="form-group">
          <label for="password1">Password :</label>
          <input
            type="password"
            name="password"
            id="password1"
            class="form-control input-underlined"
            placeholder="Password *"
            required
          />
          <div class="invalid-feedback">Password is required</div>
        </div>
        <div class="form-group">
          <label for="password2">Confirm Password :</label>
          <input
            type="password"
            name="confirmPassword"
            id="password2"
            class="form-control input-underlined"
            placeholder="Confirm Password *"
            required
          />
          <div class="invalid-feedback">
            Password and Confirm Password doesn't match
          </div>
        </div>

        <div class="form-group">
          <button
            id="_btn-register"
            type="submit"
            class="btn btn-block btn-primary"
          >
            Register
          </button>
        </div>
        <div
          id="bad-request-alert"
          class="alert alert-danger d-none mb-0"
          role="alert"
        ></div>
      </form>
    </div>
  </div>
</div>

{{end}} {{define "js" }}

<script>
  $(document).ready(function () {
    $("#_btn-register").on("click", function () {
      const forms = $("#_register_form");
      Array.prototype.filter.call(forms, function (form) {
        form.addEventListener(
          "submit",
          function (event) {
            if (form.checkValidity() === false) {
              event.preventDefault();
              event.stopPropagation();
            } else {
              handleRegister(event);
            }
            form.classList.add("was-validated");
          },
          false
        );
      });
    });
  });

  async function postRegister(url = "", data = {}) {
    const response = await fetch(url, {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
      cache: "no-cache",
      body: JSON.stringify(data),
    });
    return response;
  }

  function handleRegister(event) {
    event.preventDefault();
    const data = new FormData(event.target);

    const value = Object.fromEntries(data.entries());
    postRegister("/api/users/register", value)
      .then((response) => {
        if (response.status == 200) {
          window.location.href = "/";
        }
        if (response.status >= 400) {
          return response.json();
        }
      })
      .then((resp) => {
        if (resp) {
          $("#bad-request-alert").removeClass("d-none").text(resp.message);
        }
      })
      .catch((err) => {
        console.log("err ", err);
      });
  }
</script>

{{end}}
