* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100vh;
  color: white;

  /* gradient */
  background: rgb(5, 255, 118);
  background: linear-gradient(
    42deg,
    rgba(5, 255, 118, 1) 0%,
    rgba(63, 76, 255, 1) 100%
  );
}

.form-card {
  width: 400px;

  /* glassmorphism */
  background: rgba(255, 255, 255, 0.4);
  box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(4.5px);
  -webkit-backdrop-filter: blur(4.5px);
  border-radius: 10px;
}

.input-underlined {
  border: none;
  border-radius: 0;
  border-bottom: 2px solid white;
  background-color: transparent;
  color: white;
  font-weight: 500;
  transition: all 0.4s;
}

.input-underlined::placeholder {
  color: rgba(255, 255, 255, 0.6);
  background-color: transparent;
  border: none;
  border-radius: 0;
}

.input-underlined:focus {
  background-color: transparent;
  border-bottom: 2px solid rgba(100, 100, 100, 0.4);
  box-shadow: none;
  -webkit-box-shadow: none;
  color: white;
}

/* .form-control:valid.was-validated {
  color: red;
  border: inherit;
  border-color: inherit;
  outline: none;
}

.form-control:invalid.was-validated {
  border: inherit;
  border-bottom: 2px solid red;
} */

.navbar {
  background: rgba(255, 255, 255, 0.4);
  box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(4.5px);
  -webkit-backdrop-filter: blur(4.5px);
  color: white;
}

.navbar-collapse,
.navbar-nav,
.navbar-brand,
.navbar-link,
.navbar-item {
  color: inherit;
}
