* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  color: white;

  /* gradient */
  background: linear-gradient(
      42deg,
      rgba(5, 255, 118, 1) 0%,
      rgba(63, 76, 255, 1) 100%
    )
    no-repeat;
  background-attachment: fixed;
}

.form-card {
  width: 500px;

  /* glassmorphism */
  background: rgba(255, 255, 255, 0.4);
  box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(4.5px);
  -webkit-backdrop-filter: blur(4.5px);
  border-radius: 10px;
}

.input-underlined {
  border: none;
  border-radius: 0;
  border-bottom: 2px solid white;
  background-color: transparent;
  color: white;
  font-weight: 500;
  transition: all 0.4s;
}

.input-underlined::placeholder {
  color: rgba(255, 255, 255, 0.6);
  background-color: transparent;
  border: none;
  border-radius: 0;
}

.input-underlined:focus {
  background-color: transparent;
  border-bottom: 2px solid rgba(100, 100, 100, 0.4);
  box-shadow: none;
  -webkit-box-shadow: none;
  color: white;
}

.navbar {
  background: rgba(255, 255, 255, 0.4);
  box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(4.5px);
  -webkit-backdrop-filter: blur(4.5px);
  color: white;
}

.navbar-collapse,
.navbar-nav,
.navbar-brand,
.navbar-link,
.navbar-item {
  color: inherit;
}

@keyframes fade-in-top {
  0% {
    opacity: 0;
    transform: translateY(-0);
  }

  50% {
    opacity: 0.3;
    transform: translateY(100px);
  }

  100% {
    opacity: 1;
    transform: translateY(200px);
  }
}

.invalid-feedback {
  color: red;
  font-weight: 500;
  text-transform: capitalize;
}

.nav-link {
  color: white;
  font-weight: 600;
}
